/* ==UserStyle==
@name           Bettwitter
@namespace      betwit
@version        1.4.1
@homepageURL    https://github.com/Masterfireheart/Bettwitter
@updateURL      https://raw.githubusercontent.com/Masterfireheart/Bettwitter/master/bettwitter.user.css
@description    Making Twitter better for the Twitter Happy Havoc crew and co.
@author         Masterfireheart
==/UserStyle== */

@-moz-document domain("twitter.com") {
/* actual dark theme plz */
/* 17 17 21 */
	.logged-in, .logged-out, .dashboard, .global-nav .search-input, .global-nav .search-input:focus, .RichEditor, input, textarea, div[contenteditable], .t1-select, .new-tweets-bar:hover, .twtr-color-bg--extra-extra-light-gray-neutral, .MomentMakerPage-content, .MomentMakerRecommendations{
		background-color: #111115;
	}
/* 18 18 22 */
	.new-tweets-bar, .ProfileHeading-content, .EdgeButton--secondary:hover, .stream-end-inner, .FollowStatus, .EdgeButton--tertiary, .modal-header, .DirectMessage--received .DirectMessage-text, .TypingIndicatorMessageBubble-dotContainer, .DMInbox-secondaryInboxCopy, .PermalinkOverlay-spinnerContainer, .Tombstone, .tweet-form .thumbnail-container, .DMComposer-container, .rn-1q3imqu, .advanced-search .chk-inner, .advanced-search select, .advanced-search input[type="text"], .wtf-module .import-prompt .service, #notifications-optout-all-top, .disabled, .disabled:hover, .disabled:focus, .disabled:active, input[disabled], .t1-select[disabled], textarea[disabled], input[readonly], .t1-select[readonly], textarea[readonly], div[contenteditable="false"], div[contenteditable="true"][readonly], .sc-key, .ProfilePage.is-editing .ProfilePage-editingOverlay, .BirthdateSelect-button, .twtr-main, .hp04__bleed, .twtr-color-bg--blue-extra-light-50, .EdgeButton--invertedPrimary:hover, .EdgeButton--invertedSecondary:hover, body.twtr-theme--light-blue .u01__item{
		background-color: #121216;
	}
/* 24 24 28 */
	.NotificationsHeadingContent, .ProfileListItem, .dropdown-menu, .tweet:hover, .conversation-module .conversation-tweet-item .tweet:hover, .DMActivity-header, .DMInbox-tab, .EdgeButton--secondary, .ActivityItem:not(.has-clickAction) .QuoteTweet--slim:hover, .message, .DMConversationSettings-notifications, .DMConversationSettings-mentions, .DMViewParticipants-header, #global-tweet-dialog .modal-tweet-form-container, #Tweetstorm-dialog .modal-body, #global-tweet-dialog .modal-tweet .tweet:hover, #global-tweet-dialog .modal-tweet .tweet, .ThreadedConversation--header, .content-header .header-inner, .module .list-link, .module .list-link:hover, .module .active .list-link, #activity-popup-dialog .modal-header, .rn-urgr8i, .FoundMediaSearch-query, .dropdown-menu, .PollingCardComposer, .EmojiPicker-categoryHeader, .AdaptiveFiltersBar, .MomentGuideNavigation, .DMButtonBar, .DMTokenizedMultiselectSuggestion.is-highlighted, .DMPopover-content, .DirectMessage-location, .DirectMessage-card, .content-inner, .find-friends-top-subheader, .find-friends-bottom-subheader, .find-friends-sources, .MutedKeywordsFooter, .ProfileTweet-action .btn, .NotificationsEmptyModule, .ProfileListsTimeline .GridTimeline-end:not(.has-items), .MomentMakerRecommendations-module, .MomentMakerCapsuleCover-empty, .ProfileAvatarEditing, .u-bgUserColor, .u-bgUserColorHover:hover, .u-bgUserColorHover:focus{
		background-color: #18181C;
	}
	.DMInboxItem:hover, .u-bgUserColorLightest, .flex-module, .MomentsGuidePage-content, n.MomentsPage.MomentsPermalinkPage, .MomentsPage.MomentsGuidePage{
		background: #18181C !important;
	}
	.FoundMediaSearch-content.Caret::after, .EmojiPicker-content.Caret::after{
		border-color: #18181C;
	}
	.Gallery.with-tweet .Gallery-content:hover .GalleryTweet.enable-fade .tweet{
		background: rgba(24,24,28,.8);
	}
	.dropdown-caret .caret-inner{
		border-bottom-color: #18181C;
	}
/* 28 28 33 */
	.tweet, .tweet-user, .TwitterCard, .home-tweet-box, .LiveVideo-tweetBox, .RetweetDialog-commentBox, .modal-content, .modal .modal-tweet, .ThreadedConversation-moreReplies, .permalink, .permalink .inline-reply-tweetbox, .permalink .stream-end-inner, .permalink-tweet:hover, .permalink-tweet.focus, .stream-item:not(.no-header-background-module), .ActivityItem, .DMActivity-body, .DMDivider, .DMTrustRequest, .ProfileSidebar .TweetImpressionsModule, .ProfileSidebar .ProfileLifelineInfo, .ProfileSidebar .RelatedUsers, #activity-popup-dialog .modal-content, .SidebarFilterModule, .datepicker.dropdown-menu, .stream-container .AdaptiveStreamGridImage .grid-tweet-actions-container, .dm-media-preview, .PromptbirdPrompt, .Gallery-content .stream-item-footer, .AdaptiveRelatedSearches, .AdaptiveNewsRelatedHeadlines, .AdaptiveNewsLargeImageHeadline-body, .MomentDialog-footer, .MomentMakerCoverDialog .modal-body, .MomentMakerThemeColorDialog-body{
		background-color: #1C1C21;
	}
	.Gallery-content .stream-item-footer{
		border-color: #1C1C21 !important;
	}
/* 33 33 38 */
	.global-nav-inner, .ProfileCanopy-navBar, .ProfileCard, .ProfileCard-avatarLink, .DashboardProfileCard, .module, .EdgeButton--tertiary:hover, .u01__dropdown, .u01__menu-item.has-dropdown::after, .u04__dropdown, .u04__menu-item.has-dropdown::after, .MomentCapsuleItemTweet--withText, .EdgeButton--invertedPrimary, .EdgeButton--invertedSecondary{
		background: #212126;
	}
	.trends-container{
		background: #212126 !important;
	}
	.ProfileAvatar{
		background: #212126;
		border: 4px solid #212126;
		border-radius: 10%;
	}
/* 50 50 54 */
	.DMInboxItem.is-unread, .MomentCapsuleSummary--hero:hover, .MomentCapsuleSummary--portrait:hover, .InputToken{
		background-color: #323236;
	}
	.twtr-color--dark-gray-neutral.has-hover:active, .twtr-color--dark-gray-neutral.has-hover:hover{
		color: #323236;
	}

/* 150 150 155 */
	.twtr-color--dark-gray-neutral, .twtr-color--dark-gray-neutral.has-hover, .twtr-rte li, .twtr-rte ol, .twtr-rte p, .twtr-rte ul, .c0-nav__menu-sub-item a{
		color: #96969B;
	}

/* 200 200 210 */
	.EdgeButton--tertiary, .EdgeButton--tertiary:hover, .Icon--verified, .hp04__card-headline a, .twtr-type--page-headline, .twtr-underline--blue-dark, .hp05__item p, .twtr-color--black-neutral, .twtr-rte h1, .twtr-rte h2, .twtr-rte h3, .c0-nav__menu-main-link.has-hover{
		color: #C8C8D2;
	}
	.MomentMakerActionButtons-button, body:not(.swift-loading) .MomentCapsuleEditableMeta .is-showPlaceholder::before{
		color: #C8C8D2 !important;
	}
/* transparent */
	.active, .stats, .people, .global-dm-nav, .ProfileNav-item--userActions,.DashboardProfileCard-avatarLink, .hovercard .profile-social-proof, .permalink .inline-reply-tweetbox-container, .ThreadedConversation-showMoreThreads, .ThreadedConversation, .ThreadedConversation--loneTweet, .self-thread-permalink-cta, .dashboard .stats, .activity-popup-dialog-content .tweet, .EmojiPicker-query, .search, .MomentMediaItem, .MomentCapsuleSummary-cover, .AdaptiveMedia-photoContainer img, .SessionsSettings--row .SessionsSettings--row-time-active, .PhotoRail-mediaBox .tweet-media-img-placeholder, .input-prepend .add-on, .input-append .add-on, .twtr-color-bg--blue-extra-dark, .twtr-color-bg--white-neutral{
		background-color: transparent;
	}
	.DashUserDropdown.dropdown-menu .DashUserDropdown-userInfoLink:hover, .DashUserDropdown.dropdown-menu .DashUserDropdown-userInfoLink:focus, .DashUserDropdown.dropdown-menu .DashUserDropdown-userInfoLink:active, body > .TwitterCard, .PlayableMedia-reactWrapper > div, .ProfileSidebar .flex-module, .SidebarCommonModules .flex-module, .AdaptiveMedia-photoContainer, .Gallery-content, .Gallery-media, .Gallery-media img, .MomentMakerTopBarDropdownMenu .dropdown-menu .dropdown-link[disabled], .MomentMakerTopBarDropdownMenu .dropdown-menu .dropdown-link[disabled]:hover{
		background-color: transparent !important;
	}
	.twtr-underline--blue-dark, .twtr-underline--green-dark, .twtr-underline--pink-dark, .twtr-underline--orange-dark{
		background: transparent;
	}
/* "other", basically fixes for the weird situations */
	.Tombstone .Tombstone-action:hover{
		color: inherit;
	}
	.EdgeButton--invertedPrimary:hover, .EdgeButton--invertedPrimary:active{
		border-color: #FFF;
	}

/* misc color stuff */
	.DMInboxItem-muted, .ap02-notes__label{
		color: #D10F00
	}
	.ios-tab{
		background-color: #B4B8C0;
	}
	.android-tab{
		background-color: #45B74F;
	}
	.desktop-tab{
		background-color: #E07238;
	}
	.twtr-color--black-neutral.has-hover{
		color: #FFF;
	}

/* Make The Video Player Great Again! */
	.PlayableMedia-reactWrapper .rn-u8s1d{
		fill: #F00 !important;
		stroke: #000;
		stroke-width: 2px;
		paint-order: stroke fill;
	}

/* FUCK CIRCLES */
	.avatar, .Avatar, .ProfileAvatar-image, .ProfileAvatar-placeholderImage, .ProfileUserList .Avatar, .ProfileCard-avatarImage, .ProfileCardMini-avatarImage, .ProfileCard-avatarLink, .ProfileListItem-avatar, .nav .session .dropdown-toggle, .DMAvatar, .avatar--circular, .ProfileAvatarEditing-button, .ProfileAvatarEditing-button, .ProfileAvatarEditing, .ProfileAvatarEditing-overlay{
		border-radius: 10%;
	}
	.Gallery.with-tweet.without-tweet .Gallery-media{
		border-radius: 0%;
	}
	.DashboardProfileCard-avatarImage{
		border-radius: 10%;
		border: 2px solid #212126;
	}
	.global-nav .search-input, .DirectMessage-message{
		border-radius: 10px;
	}
	.AdaptiveMedia{
		border-radius: 6px;
	}
	.hovercard.profile-card .ProfileCard-avatarImage{
		border: 2px solid transparent;
	}
	.ComposerThumbnail-remove{
		border-radius: 2px;
	}
	.TwitterCard[data-card-client="dm"][data-corners^="true,true"] .TwitterCard-container{
		border-bottom-right-radius: 0.85714em;
		border-top-right-radius: 0.85714em;
		border-top-left-radius: 0.85714em;
	}

/* ~BEGONE PROMOTED CONTENT~ */
	.promoted, .promoted-tweet, .Footer-adsModule, .WtfLargeCarouselStreamItem, .app-promo-group{
		display: none !important;
	}

/* border BEGONE */
	.DMConversationSettings-notifications, .modal-footer, .TweetstormDialog .TweetstormDialog-content.is-thread .modal-footer{
		border-top: 0px;
	}
	.DMConversationSettings-mentions, .DMInbox-tab{
		border-bottom: 0px;
	}
	.input-daterange .input-group-addon, .ProfileSidebar .TweetImpressionsModule, .ProfileSidebar .ProfileLifelineInfo, .ProfileSidebar .RelatedUsers, .AdaptiveMedia.is-square:not(.is-video){
		border: 0px;
	}

/* border be.... repurposed */
	.DMConversationSettings-participants .view-dm-participants{
		border-top: 1px solid #38444d;
	}
	.FoundMediaSearch-focusable{
		border: 3px solid #18181C;
	}

/* F L E X */
	.Footer .u-cf{
		display: flex;
		justify-content: space-around;
	}
	.dashboard-right .u-cf, .ProfileSidebar .u-cf, .SidebarCommonModules .u-cf, .roaming-module .u-cf{
		justify-content: center;
		flex-wrap: wrap;
	}

/* animate ALL the things! */
	.tweet{
		-webkit-transition: 50ms linear;
		-ms-transition: 50ms linear;
		transition: 50ms linear;
	}
	.QuoteTweet, .EdgeButton--invertedPrimary, .EdgeButton--invertedSecondary{
		-webkit-transition: 150ms linear;
		-ms-transition: 150ms linear;
		transition: 150ms linear;
	}
	.DirectMessage-actions{
		-webkit-transition: 100ms linear;
		-ms-transition: 100ms linear;
		transition: 100ms linear;
		opacity: 0;
	}
	.DirectMessage-container:hover .DirectMessage-actions{
		opacity: 1;
	}
	.ProfileCanopy-inner{
		transition: opacity 0.2s ease;
	}

/* shading moment */
	.global-nav-inner{
		box-shadow: 0px 0px 25px 15px #000;
	}
	.avatar, #user-dropdown{
		box-shadow: 0px 0px 4px 0px #000;
	}
	.Emoji{
		filter: drop-shadow(0px 0px 2px #000);
	}
	.ProfileHeading, .ProfileTimeline, .TweetImpressionsModule, .ProfileCanopy-navBar{
		box-shadow: 0px 0px 5px 1px #000;
	}
	.PhotoRail-mediaBox .tweet-media-img-placeholder{
		box-shadow: 0px 0px 3px 1px #000;
	}

/* STOP FUCKING FOLLOWING ME WHILE I SCROLL */
	.ProfileCanopy.is-locked .ProfileCanopy-inner{
		opacity: 0;
		position: fixed;
	}

/* FIXING TWITTER'S OWN BUGS */
	/* clipping follow tag */
	.ProfileCard-screenname{
		margin-top: 3px;
	}
	/* clipping tweet char. counter */
	.RichEditor-bottomItems{
		margin: 0 2px 2px 2px;
	}
	.RichEditor-rightItems > div{
		margin-left: 0;
	}
	.CountdownCounter.tweet-counter{
		margin-right: 0;
	}
	.RichEditor-topItems{
		margin: 0 2px 0 0;
	}
	.size32{
		width: 24px;
		height: 24px;
	}
	.module .flex-module{
		line-height: 20px;
	}
	/* incorrect emoji skin tone picker checkmark placement */
	.EmojiPicker-skinTone:checked + .EmojiPicker-skinToneSwatch .Icon{
		top: 1px;
		left: 3px;
	}
	/* incorrect gmail icon placement */
	.wtf-module .import-prompt .service{
		padding: 4px 5px 4px 6px;
	}
	/* unloaded profile images??? */
	[data-load-status="not-loaded"]{
		display: none;
	}
	/* performance tweaks?? thanks to Refined Twitter */
	.stream-item, .Gallery, .topbar {
		contain: layout style;
	}
	#permalink-overlay, .RichEditor-tempTextArea {
		will-change: transform;
	}
	/* screen-covering message box (FIND ALTERNATIVE SOLUTION???)*/
	.js-message-drawer-visible, .message-drawer{
		display: none;
	}
	/* Off-center text */
	.GridTimeline-emptyText{
		text-align: center;
	}
	/* fucking disgusting text-shadow behavior */
	.twtr-underline--blue-dark, .twtr-underline--green-dark, .twtr-underline--pink-dark, .twtr-underline--orange-dark{
		text-shadow: none;
	}
	/* clipping email notification setting */
	.form-horizontal .preference-dropdown{
		height: 30px;
	}
	/* ...clipping twitter icon- really??? */
	.MomentMakerTopBar-birdIcon{
		margin-top: 0 !important;
	}
	/* unnecessary scrolling on short pages; so far nothing seems to break because of this but I haven't tested thoroughly, so it may possibly cause problems somewhere down the line */
	#page-outer{
		height: 95%;
	}

/* r-r-r-r-resize */
	.AppContainer, .AdaptiveSearchPage .AppContent-main{
		max-width: 1220px;
	}
	.DirectMessage-message{
		max-width: 100%;
	}
	.DirectMessage-text{
		max-width: 35vw;
	}
	.DirectMessage-attachmentContainer{
		max-width: 70%;
	}
	.content-main{
		width: 620px;
	}
	.u-lg-size2of3, .u-lg-size4of6, .u-lg-size8of12{
		width: 610px !important;
	}
	.AdaptiveMedia{
		max-width: 520px;
	}
	.AdaptiveMedia-video{
		width: 100%;
	}
	.ComposerThumbnail-remove{
		height: 14px;
		width: 14px;
	}
	.ComposerThumbnail-remove .Icon{
		line-height: 1;
	}
	.permalink.self-thread-permalink-with-descendant .inline-reply-tweetbox{
		padding-left: 48px;
	}
	.size32{
		width: 32px;
		height: 32px;
	}
	.permalink .inline-reply-user-image{
		left: -40px;
		top: 3px;
	}
	.FoundMediaSearch-results{
		height: 40vh !important;
	}
	.FoundMediaSearch-dropdownMenu.dropdown-menu{
		width: 500px;
	}
	.ProfileCanopy--large, .ProfileCanopy--large .ProfileCanopy-header{
		height: 333px;
	}
	.tweet{
		padding: 9px 10px;
	}
	.stream-end-inner{
		padding: 5px 50px;
	}
	.permalink .stream-end .Icon--logo{
		line-height: 1.5;
	}
	.permalink-tweet{
		padding: 18px 26px;
	}
	.ThreadedConversation.ThreadedConversation--permalinkTweetWithAncestors .permalink-tweet{
		padding-top: 9px;
	}
	.permalink.self-thread-permalink .permalink-tweet{
		padding-left: 84px;
	}
	.permalink.self-thread-permalink-with-descendant .permalink-tweet-container:after, .permalink.self-thread-permalink-with-descendant .inline-reply-tweetbox-container:after, .ThreadedConversation-tweet:not(.is-hiddenAncestor) ~ .ThreadedConversation-tweet::before, .ThreadedConversation-tweet::after, .ThreadedConversation-moreReplies::before, .ThreadedConversation-unavailableTweet::before, .ThreadedConversation-unavailableTweet::after, .ThreadedConversation--permalinkTweetWithAncestors::before, .ThreadedConversation .vellip, .self-thread-permalink-cta .mini-avatar-with-thread::before{
		left: 48px;
	}
	.permalink-in-reply-tos .tweet, .permalink-replies .tweet{
		padding-left: 26px;
		padding-right: 26px;
	}
	.permalink .inline-reply-tweetbox{
		padding: 15px 25px 15px 65px;
	}
	.permalink.self-thread-permalink-with-descendant .permalink-tweet-container::after, .permalink.self-thread-permalink-with-descendant .inline-reply-tweetbox-container::after{
		bottom: -4px;
	}
	.tweet .stats .avatar-row a{
		padding: 10px 0px;
	}
	.avatar-row img{
		height: 26px;
		width: 26px;
	}
	.ThreadedConversation-tweet::after{
		top: 64px;
	}
	.bird-topbar-etched{
		margin-top: 12px;
	}
	.self-thread-tweet-cta{
		margin-top: 8px;
	}
	.self-thread-head{
		display: none;
	}
	.ProfileTweet-actionList{
		margin-top: 8px;
	}
	.permalink-tweet .content{
		margin-bottom: 10px;
	}
	.mini-avatar-with-thread{
		margin-left: -60px;
	}
	.user-data-dashboard-content hr, .user-data-dashboard-content h3, .permalink .ThreadedConversation--selfThread:not(:last-child){
		margin: 0;
	}
	.SidebarCommonModules{
		width: 280px;
	}
	.Footer--blankBackground{
		padding: 10px 15px;
	}
	.DMTokenizedMultiselectSuggestion{
		padding: 6px 12px;
	}
	.DMButtonBar, .DMConversation-composer{
		padding: 6px;
	}
	.MutedKeywordsFooter{
		padding: 10px;
	}
	.DMActivity-header{
		min-height: 50px;
	}
	.DMDialogTypeahead{
		padding-top: 4px;
	}
	.DMInboxItem{
		padding: 8px 10px 8px 70px;
		min-height: 60px;
	}
	.DMInboxItem-avatar{
		left: 8px;
		top: 4px;
	}
	.ActivityItem{
		padding: 8px 10px 8px 50px;
	}
	.PhotoRail-mediaBox{
		padding-bottom: 20px;
	}

/* laptop fixes */
@media(min-width: 1600px){
	body.three-col .wrapper{
	width: 65%;
	}
	.DMActivity{
		width: 41vw;
		max-width: 50vw;
	}
}
@media(max-width: 1600px){
	body.three-col .wrapper{
	width: 90%;
	}
	.DMActivity{
		width: 55vw;
		max-width: 55vw;
	}
}

/* Twitter View Original Images extension fixes */
	#twOpenOriginalImage_image_overlay_header{
		background: #121216 none repeat scroll 0% 0% !important;
		border-bottom: 0px solid #121216 !important;
		padding: 6px 0px 4px !important;
	}
	.image-link-container{
		background: transparent !important;
	}
	.original-image{
		background-color: transparent !important;
		filter: drop-shadow(0px 0px 0px #000);
		transition: 200ms cubic-bezier(.79,.14,.15,.86) !important;
	}
	.original-image:hover{
		filter: drop-shadow(0px 0px 6px #000);
	}

/* Hidden child tweets - only works with CSS4
	.tweet:has(.self-thread-tweet-cta){
		display: none;
	} */

/* variables!!! ..broken for now??? */
/* use @preprocessor less when adding..? */
/* TODO:
-circle icons (why anyone would want this.. is beyond me (LOOKING AT YOU KRIZ))
-hiding child tweets in feed for threads to reduce clutter/spam
-full image transparent drop shadow
*/
}
@-moz-document domain("twimg.com") {
	img.transparent{
		background: transparent;
		/* filter: drop-shadow(0px 0px 20px #000); */
	}
}