/* ==UserStyle==
@name           Bettwitter
@namespace      betwit
@version        1.2.0
@homepageURL    https://github.com/Masterfireheart/Bettwitter
@updateURL      https://raw.githubusercontent.com/Masterfireheart/Bettwitter/master/bettwitter.user.css
@description    Making Twitter better for the Twitter Happy Havoc crew and co.
@author         Masterfireheart
==/UserStyle== */

@-moz-document domain("twitter.com") {
/* actual dark theme plz */
/* 17 17 21 */
	body, .dashboard, .global-nav .search-input, .global-nav .search-input:focus, .RichEditor, input, textarea, div[contenteditable], .t1-select, .new-tweets-bar:hover{
		background-color: #111115;
	}
/* 18 18 22 */
	.new-tweets-bar, .ProfileHeading-content, .EdgeButton--secondary:hover, .stream-end-inner, .FollowStatus, .EdgeButton--tertiary, .modal-header, .DirectMessage--received .DirectMessage-text, .TypingIndicatorMessageBubble-dotContainer, .DMInbox-secondaryInboxCopy, .PermalinkOverlay-spinnerContainer, .Tombstone, .tweet-form .thumbnail-container{
		background-color: #121216;
	}
/* 24 24 28 */
	.NotificationsHeadingContent, .ProfileListItem, .dropdown-menu, .tweet:hover, .conversation-module .conversation-tweet-item .tweet:hover, .DMActivity-header, .DMInbox-tab, .EdgeButton--secondary, .ActivityItem:not(.has-clickAction) .QuoteTweet--slim:hover, .message, .DMConversationSettings-notifications, .DMConversationSettings-mentions, .DMViewParticipants-header{
		background-color: #18181C;
	}
	.DMInboxItem:hover, .u-bgUserColorLightest, .flex-module{
		background: #18181C !important;
	}
/* 28 28 33 */
	.tweet, .tweet-user, .TwitterCard, .home-tweet-box, .LiveVideo-tweetBox, .RetweetDialog-commentBox, .modal-content, .modal .modal-tweet, .ThreadedConversation-moreReplies, .permalink, .permalink .inline-reply-tweetbox, .permalink .stream-end-inner, .permalink-tweet:hover, .permalink-tweet.focus, .stream-item:not(.no-header-background-module), .ActivityItem, .DMActivity-body, .DMDivider, .DMTrustRequest, .ProfileSidebar .TweetImpressionsModule, .ProfileSidebar .ProfileLifelineInfo, .ProfileSidebar .RelatedUsers{
		background-color: #1C1C21;
	}
/* 33 33 38 */
	.global-nav-inner, .ProfileCanopy-navBar, .ProfileCard, .ProfileCard-avatarLink, .DashboardProfileCard, .module, .EdgeButton--tertiary:hover{
		background: #212126;
	}
	.ProfileAvatar{
		background: #212126;
		border: 4px solid #212126;
		border-radius: 10%;
	}
/* 50 50 54 */
	.DMInboxItem.is-unread{
		background-color: #323236;
	}
/* 200 200 210 */
	.EdgeButton--tertiary, .EdgeButton--tertiary:hover, .Icon--verified{
		color: #C8C8D2;
	}
/* transparent */
	.active, .stats, .people, .global-dm-nav, .ProfileNav-item--userActions,.DashboardProfileCard-avatarLink, .hovercard .profile-social-proof, .permalink .inline-reply-tweetbox-container, .ThreadedConversation-showMoreThreads{
		background-color: transparent;
	}
	.DashUserDropdown.dropdown-menu .DashUserDropdown-userInfoLink:hover, .DashUserDropdown.dropdown-menu .DashUserDropdown-userInfoLink:focus, .DashUserDropdown.dropdown-menu .DashUserDropdown-userInfoLink:active{
		background-color: transparent !important;
	}
/* "other", basically fixes for the weird situations */
	.Tombstone .Tombstone-action:hover{
		color: inherit;
	}
	
/* dunno yet */
	.count{
		background-color: #000;
	}
	.global-nav{
		background-color: #000;
	}
	.dm-new{
		background-color: #000;
	}
	.content-narrow{
		background-color: #000;
	}
	.content-header{
		background-color: #000;
	}
	.content-inner{
		background-color: #000;
	}
	.list-link{
		background-color: #000;
	}
	.list-link:hover{
		background-color: #000;
	}
	
/* FUCK CIRCLES */
	.avatar, .Avatar, .ProfileAvatar-image, .ProfileAvatar-placeholderImage, .ProfileUserList .Avatar, .ProfileCard-avatarImage, .ProfileCardMini-avatarImage, .ProfileCard-avatarLink, .ProfileListItem-avatar, .nav .session .dropdown-toggle, .DMAvatar{
		border-radius: 10%;
	}
	.Gallery.with-tweet.without-tweet .Gallery-media{
		border-radius: 0%;
	}
	.DashboardProfileCard-avatarImage{
		border-radius: 10%;
		border: 2px solid #212126;
	}
	.global-nav .search-input, .DirectMessage-message{
		border-radius: 10px;
	}
	.AdaptiveMedia{
		border-radius: 6px;
	}
	.hovercard.profile-card .ProfileCard-avatarImage{
		border: 2px solid transparent;
	}
	
/* border BEGONE */
	.DMConversationSettings-notifications{
		border-top: 0px;
	}
	.DMConversationSettings-mentions{
		border-bottom: 0px;
	}
	
/* border be.... repurposed */
	.DMConversationSettings-participants .view-dm-participants{
		border-top: 1px solid #38444d;
	}

/* animate ALL the things! */
	.tweet{
		-webkit-transition: 50ms linear;
		-ms-transition: 50ms linear;
		transition: 50ms linear;
	}
	.QuoteTweet{
		-webkit-transition: 150ms linear;
		-ms-transition: 150ms linear;
		transition: 150ms linear;
	}
	.DirectMessage-actions{
		-webkit-transition: 100ms linear;
		-ms-transition: 100ms linear;
		transition: 100ms linear;
		opacity: 0;
	}
	.DirectMessage-container:hover .DirectMessage-actions{
		opacity: 1;
	}
	
/* FIXING TWITTER'S OWN BUGS */
	.ProfileCard-screenname{
		margin-top: 3px;
	}
	
/* r-r-r-r-resize */
	.DMActivity{
		width: 30vw;
		max-width: 50vw;
	}
	.DirectMessage-message{
		max-width: 100%;
	}
	.content-main{
		width: 620px;
	}
	.AdaptiveMedia{
		max-width: 520px;
	}

/* STAGING
	body.three-col .wrapper{
		width: 80vw;
	}
	.AdaptiveMedia.is-square, .AdaptiveMedia.is-square .AdaptiveMedia-videoPreview{
		min-height: 100px;
		max-height: 45vh;
	}
*/
}