/* ==UserStyle==
@name           Bettwitter
@namespace      betwit
@version        1.4.4
@homepageURL    https://github.com/Masterfireheart/Bettwitter
@updateURL      https://raw.githubusercontent.com/Masterfireheart/Bettwitter/master/bettwitter.user.css
@description    Made Twitter better for the Twitter Happy Havoc crew and co.  ...for awhile at least. And a good while that was.
@author         Masterfireheart
==/UserStyle== */

@-moz-document domain("twitter.com"){
/* Twitter View Original Images extension fixes */
	#twOpenOriginalImage_image_overlay_header{
		background: #121216 none repeat scroll 0% 0% !important;
		border-bottom: 0px solid #121216 !important;
		padding: 6px 0px 4px !important;
	}
	.image-link-container{
		background: transparent !important;
	}
	.original-image{
		background-color: transparent !important;
		transition: 200ms cubic-bezier(.79,.14,.15,.86) !important;
	}
	.original-image:hover{
		filter: drop-shadow(0px 0px 6px #000);
	}
}
@-moz-document domain("twimg.com"){
	img.transparent{
		background: transparent;
	}
}